body{
    margin: 0;
    padding: 0;
    /*background: url('../img/fondo_login2.jpg') no-repeat center top;*/
    
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}



.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 70%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.login-box input[type="submit"] {
    margin-top: 25px;
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}